body {
    background-color: #FAFAFA;
    color: #28334AFF;
    padding: 0 15px;
}
.heading {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
}
.content-row {
    min-height: 400px;
}

.editor textarea {
    width: 100%;
    resize: none;
    min-height: 400px;
}

.viewer {
    width: 100%;
    font-size: medium;
    background-color: white;
    min-height: 400px;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0;
}